{% extends "base.html" %}

{% block body %}

<a href="/calendars/add">Calendars</a><br/>


<ul>
{% for calendar in calendars %}
<li>{{calendar.title}}(<a href="{{ url_for("calendar/edit", calendar_slug=calendar.slug) }}">edit</a>)
<form method="POST" action="{{ url_for("calendar/fetch") }}"> 
<input type="hidden" name="calendar" value="{{ calendar.key() }}">
<input type="submit" name="action" value="Fetch Now"/>
</form>
</li>


{% else %}

<li>No calendars</li>
{% endfor %}
</ul>

{% endblock %}