
<fieldset>
	<div class="field">{{form.nickname.label_tag}}
	{{form.nickname}} {{form.nickname.help_text}}
	{{form.nickname.errors}}	
	</div>
	<div class="field">{{form.email.label_tag}}
	{{form.email}} <span class="help">{{form.email.help_text}}</span>
	{{form.email.errors}}	
	</div>
	<div class="field">{{form.link.label_tag}}
	{{form.link}} <span class="help">{{form.link.help_text}}</span>
	{{form.link.errors}}	
	</div>
	<div class="field">{{form.subscribe.label_tag}}
	{{form.subscribe}} <span class="help">{{form.subscribe.help_text}}</span>
	{{form.subscribe.errors}}	
	</div>
</fieldset>