{% extends "base.html" %}

{% block layoutextra %}
 <TITLE>{% block title %} 
      {% endblock %}</TITLE>


	<script src="/static/{{app_version}}/jquery/js/jquery-1.4.2.min.js"></script>
	<script src="/static/{{app_version}}/html5.js"></script>
	<script src="/static/{{app_version}}/modernizr-1.1.min.js"></script>
	<script src="/static/{{app_version}}/jquery.browser.min.js"></script>
	<script src="/static/{{app_version}}/jquery/js/jquery-ui-1.8rc3.custom.min.js"></script>

	<link rel="stylesheet" href="/static/{{app_version}}/jquery/css/smoothness/jquery-ui-1.8rc3.custom.css"/>
	
    <link rel="stylesheet" href="/static/{{app_version}}/reset-fonts.css"/> 
	<link rel="stylesheet"  href="/static/{{app_version}}/base-min.css"/>
	<link rel="stylesheet" href="/static/{{app_version}}/decogrids-16.css"/>  
	<link rel="stylesheet" href="/static/{{app_version}}/screen.css" media="screen"/>  


	
	<script>
	$(function(){
		window.setTimeout(function(){
		$("#messages li").fadeOut()
		}, 7000);

		if (!Modernizr.inputtypes.date || $.browser.name== 'chrome'){
	        $(".datepicker").datepicker();

	    }
	


	})


	</script>

<meta name="viewport" content="width=device-width" /> 
{% endblock %}

{% block headextra %}

{% endblock %}


{% block body %}
<header>
<h1>Submit a community link</h1>
</header>

<div id="wrapper">


{% block content %}


{% endblock content %}



</div>


{% endblock body %}

